# source_up

watch_file pixi.lock
eval "$(pixi shell-hook)"

export DISABLE_AUTOFORMAT=true

export PATH="$(pwd)/bin:$PATH"
export MITSUBA_ROOT="$(pwd)/mitsuba3"
. $MITSUBA_ROOT/build-mitsuba/setpath.sh
